*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    width: 1160px;
    margin: 0 auto;
}

header{
    background-color: #8fb900;
    display: flex;
    justify-content: center;
    color: #fff;

}

header h1{
    font-size: 22px;
}

header a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
    border: 2px solid #fff;
    font-weight: blod;
}

header a:hover{
    color:  #8fb900;
    background-color: #fff;
}


header div{
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.main-image{
    position: relative;
    margin-top: 80px;
}

.main-image div{
    background-color: rgba(185, 0, 50, 0.4);
    height: 55px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;

}

.main-image  p{
    font-size: 18px;
    font-weight: blod;
    color: #fff;
    margin: 0 17px;
}